.course-card .card a {
    color: inherit !important;
    text-decoration: none !important;
}



.act {
    color: #b6b7b9 !important;
}

.pas {
    color: #ff0000 !important;
}

.content-wrapper {
    margin-left: 95px;
    padding-top: 5px;
}

.top-section {
    display: flex;
    align-items: center;
}

.menu-icon {
    color: red;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.right-content {
    margin-left: 100px;
}

.inner-content {
    padding-left: 15px;
    width: max-content;
}

.dashboard {
    font-size: 36px;
    color: #6A6F72;
    font-weight: 100;
}

.published-courses {
    font-size: 28px;
    color: black;
    font-weight: 500;
    margin-top: 75px;
}

.course-card {
    width: 255px!important;
    margin: 15px 15px;
    overflow: hidden;
    position: relative;
    padding: 0px;
    transition: box-shadow 0.3s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.course-card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.row>* {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.course-card .upper-half {
    color: white;
    padding: 0px;
    height: 146px;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.course-card .upper-half .dots {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
}

.course-card .lower-half {
    padding: 15px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    color: #6A6F72;
    font-size: 14px;
    height: 120px;
}

.back-dblue {
    background-color: #0577BC;
}

.font-dblue {
    color: #0577BC !important;
    font-weight: 1000;
}

.back-lgray {
    background-color: #EBEDEE;
}

.font-lgray {
    color: #EBEDEE !important;
    font-weight: 1000;
}

.back-dgray {
    background-color: #C1C1C1;
}

.font-dgray {
    color: #C1C1C1 !important;
    font-weight: 1000;
}

.back-lblue {
    background-color: #2DB9FF;
}

.font-lblue {
    color: #2DB9FF !important;
    font-weight: 1000;
}

.course-name {
    font-size: 16px;
    overflow: hidden;
}

.course-term {
    font-size: 12px;
    overflow: hidden;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
}

@media (max-width: 768px) {
    .row {
        display: block!important;
    }
}