/* common */

body {
    font-family: 'Lato', sans-serif;
}
/* specific to second columns */

.left-navigation {
    width: 125px!important;
    background-color: white;
    color: red;
    padding: 0;
}

.left-navigation ul {
    list-style-type: none;
    padding: 0;
}

.left-navigation ul li {
    margin: 0;
    padding-top: 15px;
}

.left-navigation ul li a {
    text-decoration: none;
    color: red;
    font-size: 16px;
    padding-left: 10px;
    display: block;
}

.left-navigation ul li.selected a {
    color: black !important;
    border-left: 2px solid black;
    padding-left: 8px;
}

.nav-icon-color {
    color: #808080!important;
}

.justify-content-between {
    justify-content: space-between!important;
}


/* for right content */

.right-content {
    margin-left: 100px;
}

@media (max-width: 1300px) {
    .left-navigation {
        display: none;
    }
    .right-content {
        margin-left: 0;
    }
    .sidebar {
        display: none;
    }
}